# Example opaque DSN for the external license directory
# For Airtable, do not commit real values. This is only an illustration.
# Format:
# base=appXXXXXXXXXXXX;table=Licenses
base=appXXXXXXXXXXXX;table=Licenses
